torch
numpy
pandas
transformers
rank-bm25
rapidfuzz
accelerate
openpyxl
sentence-transformers
scikit-learn
tqdm
neo4j
bitsandbytes
pyvi
statsmodels
vncorenlp
py2neo
google-genai
fastapi
uvicorn
faiss-cpu
langchain-text_splitters
langchain-community
langchain-core
python-dotenv